
node_modules/
dist/
build/
*.log
*.tsbuildinfo


.env.local
.env.*.local

.DS_Store
.vscode/
.idea/
*.swp


frontend-test/node_modules/
frontend-test/dist/
frontend-test/.cache/
frontend-test/.vite/
frontend-test/.env.local

backend-test/node_modules/
backend-test/dist/
backend-test/.env.local